.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}

.description {
  font-size: 16px;
  line-height: 120%;
}

.link {
  width: fit-content;
  align-self: center;
  background: red;
  color: #fff;
  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  transition: filter 0.2s ease;
}

.link:hover {
  background-color: black;
}
