.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.menu,
.statement {
  grid-column: span 1;
}

.menu {
  background-color: white;
  padding: 32px 34px;
  border-radius: 8px;
}

.statement {
  background-color: white;
  padding: 32px 24px;
  border-radius: 8px;
  height: fit-content;
}

.titleStatement {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 29px;
}

.cardsCenter {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 879px) {
  .container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }

  .menu {
    background-color: transparent;
    padding: 0;
    border-radius: none;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 312px;
  }

  .menu {
    display: none;
  }
}
