.header {
  background-color: var(--color-primary);
  padding: var(--spacing-lg) 0;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container button {
  color: var(--color-tertiary);
  font-weight: var(--font-weight-sm);
  font-size: var(--font-size-xs);
}

.container p {
  color: var(--color-white);
}

.menu {
  display: none !important;
}

.user {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: var(--background-primary);
  padding: var(--spacing-lg);
  width: 172px;
  display: flex;
  flex-direction: column;
}

.nav button {
  align-self: flex-end;
}

.nav svg {
  color: var(--color-secondary);
}

@media (max-width: 900px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 500px;
  }

  .menu {
    display: inline-flex !important;
  }

  .container p {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 312px;
  }
}
