.button {
  z-index: 1000;
  padding: var(--spacing-md) var(--spacing-xl);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius);
  text-transform: capitalize;
  border: none;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
}

.button:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}
