.nav {
  border-radius: var(--border-radius);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical ul li {
  width: 100%;
  text-align: center;
}

.horizontal ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  text-align: center;
}

.horizontal ul li {
  width: 100%;
}

.nav ul li a {
  display: block;
  text-decoration: none;
  font-weight: var(--font-weight-lg);
  font-size: var(--font-size-sm);
  line-height: 100%;
  padding: var(--spacing-md) 0;
}

.nav ul li a:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.activeLink {
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.disabledLink {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
