.header {
  background-color: var(--color-primary);
  padding: 28px 0;
  position: relative;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-lg);
}

.container button {
  color: var(--color-tertiary);
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}

.container p {
  color: var(--color-white);
}

.menu {
  display: none !important;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: var(--background-primary);
  padding: 23px;
  width: 172px;
  display: flex;
  flex-direction: column;
}

.nav button {
  align-self: flex-end;
}

.nav svg {
  color: var(--color-secondary);
}

@media (max-width: 360px) {
  .menu {
    display: inline-flex !important;
  }

  .container p {
    display: none !important;
  }
}
