.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--spacing-xl);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-lg);
  line-height: 120%;
}

.description {
  font-size: var(--font-size-sm);
  line-height: 120%;
}
