.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  border-bottom: 1px solid var(--color-secondary);
  padding-bottom: var(--spacing-xs);
}

.month {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sm);
  color: var(--color-secondary);
}

.typeDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.typeDate p:first-child {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-xs);
  color: var(--color-black);
}

.typeDate p {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  color: #8b8b8b;
}

.value {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  color: var(--color-black);
}
