.container {
  position: relative;
  background-color: #cbcbcb;
  color: var(--color-white);
  border-radius: 8px;
  padding: 32px 32px 141px 32px;
  display: flex;
  flex-direction: column;
}

.bottomImage {
  position: absolute;
  bottom: 0;
  left: 0;
}

.topImage {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.imagePig {
  display: none;
  z-index: 900;
}

@media (max-width: 720px) {
  .imagePig {
    display: block;
  }

  .imagePig {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}

@media (max-width: 450px) {
  .container {
    padding-bottom: 300px;
    padding-right: 24px;
    padding: 32px 16px 300px 16px;
  }

  .bottomImage {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
  }

  .topImage {
    display: none;
  }

  .imagePig {
    right: 14.5px;
  }
}
